* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}
.text {
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 1.5;
  text-align: center;
}
.text-1 {
  color: grey;
  letter-spacing: 5px;
  line-height: 1.5;
  text-align: center;
  animation-name: moveLeft;
  animation-duration: 1s;
}

.text-2 {
  color: grey;
  letter-spacing: 5px;
  line-height: 1.5;
  text-align: center;
  animation-name: moveRight;
  animation-duration: 1s;
}

@keyframes moveLeft {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes moveRight {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 700px) {
  .text {
    font-size: 10px;
    display: flex;
    min-width: 150px;
  }
}
