.cardsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  padding: 2em;
}
.card {
  margin-top: 2em;
  transition: transform 0.5s;
  color: white;
  animation-name: moveBeforeHover;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

.card p {
  padding: 10px;
}

.card p:not(:last-child) {
  text-transform: uppercase;
}

.card:hover {
  transform: scale(1.5);
}

@keyframes moveBeforeHover {
  0% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.card{
  margin-right: 2em;
}
.card1 {
  padding: 2em;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.671);
  background-color: hsla(0, 0%, 100%, 0.847);
  color: black
}

/* rgb(90, 156, 90) */
.card2 {
  padding: 2em;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.671);
  background-color: hsla(0, 1%, 33%, 0.705);
 
}

.card3 {
  padding: 2em;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.671);
  background-color:  rgba(63, 61, 61, 0.863);;
}


@media (max-width: 700px) {
  .cardsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto ;
    min-width: 150px;
  }

  .card{
      max-height: 100px;
      font-size: 10px;
  }
}
